{% extends "base.html" %}

{% block content %}

<h2>Hello</h2>

<section>
    <p>
        I am Sarthak and I usually go by the handle <mark class="highlight-handle">@ksarthak4ever</mark> on the
        interwebz. I work at <a href="https://fisdom.com">Fisdom</a> where I
        focus mainly on various layers of Fintech products as a Backend developer 
        building scalable products using Python, Java and JS.
    </p>
    <p>
        I like to <a href="/projects/">tinker</a> with new technologies and build useful tools.
        I actively participate in Python community and write <a href="/blog/">blogs</a> related to Python and software engineering.
    </p>
    <p>
        In my free time you can find me reading <a href="https://webnovel.com/">webnovels</a> and exploring different domains of computer science.
    </p>
    </br>
    <blockquote>
        <p>But ultimately, my preference and skills
            are as temporary as every language I know
            and as fickle as every tool I use.
            As temporary as things
            that will be useless in 10 years.
            As fickle as things
            that can be learned by anyone.
            The things that last are not complete,
            they are in progress.
            So what I will tell you is that
            I am in progress.
            I hold on to my methods loosely,
            embrace flexibility and modularity,
            am willing to learn,
            expect to be wrong,
            and am confident when I'm right.</p>
    </blockquote>
</section>

{% endblock content %}